<div class="jumbotron">
    <h1>L O G I N</h1>
</div>

<div class="mx-auto login-header-text" style="width: 500px; margin-bottom: 10px;">
    <h5>Please login with your username and password.</h5>
</div>  

<%= render  "form" %>   