<div class="mx-auto" style="width: 500px; margin-top: 2em; margin-bottom: 2em;">
    <h1 style="margin-left: 1.5em;">Create a Milestone</h1>
    <h4 style="text-align: center;">A milestone is an overarching goal that you would like to complete.</h4>
</div>
<div class="mx-auto form-container">
<%= render  "form" %>
</div>