<div class="mx-auto" style="width: 500px; margin-top: 2em; margin-bottom: 2em;">    
    <h1 style="width: 500px; text-align: center;">Create a Task</h1>
    <h4 style="text-align: center;">A task breaks a milestone down into the steps it would take to complete your overarching goal.</h4>
</div>

<div class="mx-auto form-container">
<%= render "task" %>
</div>