<div class="jumbotron">
    <h1 >Kanban</h1>
    <h3>A to-do app.</h3>
</div>

<div class="mx-auto index-cta-container">
     <div class="row">
    <div class="col">
      <div class="mx-auto card text-white bg-primary mb-3" style="max-width: 24rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">M I L E S T O N E S</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="mx-auto card text-white bg-info mb-3" style="max-width: 24rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">T A S K S</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="mx-auto card text-white bg-dark mb-3" style="max-width: 24rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">S U B T A S K S</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 3em; margin-bottom: 3em;">
    <h1>Sign Up</h1>

<%= render  "signup" %>
</div>