<div class="mx-auto" style="width: 500px; margin-top: 2em; margin-bottom: 2em;">    
    <h1 style="width: 500px; text-align: center;">Create a Subtask</h1>
    <h4 style="width: 500px; text-align: center; color: #">Subtasks are bulletpoint tasks that you will mark as complete. Once all subtasks belonging to a task are marked complete, the task be rendered complete.</h4>
</div>

<div class="mx-auto form-container">
<%= render "form" %>
</div>
  