<ul class="nav justify-content-end" style="width: 90%;">
  <li class="nav-item">
    <a class="nav-link active" href="/users/<%=current_user.id%>/#milestones">Milestones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/<%=current_user.id%>/#tasks">Tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/<%=current_user.id%>/#milestones">Subtasks</a>
  </li>
</ul>